.BurgerIngredient{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow:auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* @media (max-width:500px){
    .BurgerIngredient{
        width: 90%;
    }
}
@media (min-width:800px){
    .BurgerIngredient{
        width: 400px;
    }
} */