.Checkout{
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

.TableSummary{
    border: 2px solid #eee;
    box-shadow: 0 3px 4px #ccc;
}

@media (min-width:600) {
    .Checkout{
        width: 600px;
    }
}

.Burger{
    width: 100%;
    height: 200px;
    margin: auto;
    /* border: 4px solid black; */
}


@media (min-width:700px) {
    .Burger{
        width: 70%;
        /* border: 4px solid yellow; */
    }
}

@media (min-width:950px) {
    .Burger{
        width: 60%;
        /* border: 4px solid blue; */
    }
}