.authDiv{
    text-align: center;
    box-shadow: 0px 1px 2px #ccc;
    border: 2px solid #eee;
    width: 60%;
    margin:  20px auto;
    padding: 20px;
}
.Input{
    display: block;
    width: 30%;
    margin: 10px auto;
}

@media (min-width: 600px) {
    .authDiv{
        width: 500px;
    }
}